{% extends "base.html" %}
{% block content %}

{{error_message if error_message}}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body class="body">

  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h2>Search For Your Achive:</h2>
          <form action="/api/archive_url" method="GET">
            <input type="text" placeholder="URL" id="archive_url_text" name="archive_url_text">
            <button type="submit">Search</button>
          </form>
        </div>
        <div class="col-sm-4">
          <h2>Achive A Webpage </h2>
          <form action="/api/archive_url" method="GET">
            <input type="text" placeholder="URL" id="archive_url_text" name="archive_url_text">
            <button type="submit" name="action" value="archive_url_submit">Archive</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>History</h3>
        <table class="table"></table>
      </div>
      <div class="col-sm-4">
        <h3>Calendar</h3>
      </div>
      <div class="col-sm-4">
        <h3>Achive Request Summary</h3>
        {% if url_screenshot_info %}
        <br>
        <br>
        <br>
        <img src={{url_screenshot_info.screenshot_url}}>
        <br>
        <br>
        <br>
        <p>Query URL: {{url_screenshot_info.query_url}}</p>
        <p>Adjusted URL: {{url_screenshot_info.adjusted_url}}</p>
        <p>Created Username: {{url_screenshot_info.created_username}}</p>
        <p>Created Timestamp: {{url_screenshot_info.created_timestamp}}</p>
        <br>
        <p>Archive.md URL: {{url_screenshot_info.archivemd_url}}</p>
        {% endif %}
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Results</h3>
            <div id="gallery_updaing_display">
                    {% for notification in notifications %}
                        <div class="notification">
                            {{notification}} is succesfully processed
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-4">
            <h3>Pending</h3>
        </div>
    </div>
  </div>

</body>

<style>
        .row {
            height: 33%;
            overflow: scroll;
        }
        
        .notification {
            height: 20%;
        }

        .container {
            height: 100%;
        }

        .body {
            height: 100vh;
        }
</style>


{% endblock %}
